In [19]:
import pandas as pd
import os

files = os.listdir("data/processed")
files = files[1:]
files

['processed_recs10.csv',
 'processed_recs11.csv',
 'processed_recs13.csv',
 'processed_recs14.csv',
 'processed_recs15.csv',
 'processed_recs17.csv',
 'processed_recs2.csv',
 'processed_recs4.csv',
 'processed_recs5.csv',
 'processed_recs6.csv',
 'processed_recs7.csv',
 'processed_recs8.csv',
 'processed_recs9.csv']

In [20]:
df_list = []

for i in range(0,len(files)):
    files[i] = "data/processed/" + files[i]
    #print i

files

['data/processed/processed_recs10.csv',
 'data/processed/processed_recs11.csv',
 'data/processed/processed_recs13.csv',
 'data/processed/processed_recs14.csv',
 'data/processed/processed_recs15.csv',
 'data/processed/processed_recs17.csv',
 'data/processed/processed_recs2.csv',
 'data/processed/processed_recs4.csv',
 'data/processed/processed_recs5.csv',
 'data/processed/processed_recs6.csv',
 'data/processed/processed_recs7.csv',
 'data/processed/processed_recs8.csv',
 'data/processed/processed_recs9.csv']

In [21]:
for f in files:
    data = pd.read_csv(f)
    df = pd.DataFrame(data)
    df_list.append(df)

6501

In [32]:
df = pd.concat(df_list)
len(df)

6501

In [34]:
df = df.dropna(axis=1, how="all")
type(df)

pandas.core.frame.DataFrame

In [35]:
len(df)

6501

In [36]:
df.shape

(6501, 56)

In [37]:
df.head()

,AB,AF,AU,BP,C1,CA,CR,DA,DE,DI,...,VL,WC,Z9,c_fname,c_lname,citedby,count,gender,probability,scholar_id
0,The El Nino/Southern Oscillation (ENSO) system...,"Watanabe, Tsuyoshi; Suzuki, Atsushi; Minobe, S...","Watanabe, T; Suzuki, A; Minobe, S; Kawashima, ...",209,"[Watanabe, Tsuyoshi; Minobe, Shoshiro; Kawashi...",NaN,NaN,11/20/17,NaN,10.1038/nature09777,...,471,Multidisciplinary Sciences,62,tomoki,kase,1578,4,male,1,hWANX-AAAAAJ
1,Humans differ from other animals in many aspec...,"McLean, Cory Y.; Reno, Philip L.; Pollen, Alex...","McLean, CY; Reno, PL; Pollen, AA; Bassan, AI; ...",216,"[McLean, Cory Y.; Wenger, Aaron M.; Bejerano, ...",NaN,NaN,11/20/17,NaN,10.1038/nature09774,...,471,Multidisciplinary Sciences,184,david m.,kingsley,na,1,male,1,na
2,Under physiological conditions the gut-associa...,"DePaolo, R. W.; Abadie, V.; Tang, F.; Fehlner-...","DePaolo, RW; Abadie, V; Tang, F; Fehlner-Peach...",220,"[DePaolo, R. W.; Abadie, V.; Tang, F.; Fehlner...",NaN,NaN,11/20/17,NaN,10.1038/nature09849,...,471,Multidisciplinary Sciences,201,b.,jabri,na,na,na,na,na
3,The ability to generate patient-specific human...,"Itzhaki, Ilanit; Maizels, Leonid; Huber, Irit;...","Itzhaki, I; Maizels, L; Huber, I; Zwi-Dantsis,...",225,"[Itzhaki, Ilanit; Maizels, Leonid; Huber, Irit...",NaN,NaN,11/20/17,NaN,10.1038/nature09747,...,471,Multidisciplinary Sciences,477,lior,gepstein,na,85,male,0.61,na
4,Individuals with congenital or acquired prolon...,"Yazawa, Masayuki; Hsueh, Brian; Jia, Xiaolin; ...","Yazawa, M; Hsueh, B; Jia, XL; Pasca, AM; Berns...",230,"[Yazawa, Masayuki; Hsueh, Brian; Jia, Xiaolin;...",NaN,NaN,11/20/17,NaN,10.1038/nature09855,...,471,Multidisciplinary Sciences,322,ricardo e.,dolmetsch,na,na,na,na,na

In [38]:
df.to_csv("data/cleaned_no_tmp.csv")